[submodule "thirdparty/cpp-httplib"]
	path = thirdparty/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "thirdparty/hoedown"]
	path = thirdparty/hoedown
	url = https://github.com/demon36/hoedown.git
[submodule "thirdparty/Mustache"]
	path = thirdparty/Mustache
	url = https://github.com/demon36/Mustache.git
[submodule "thirdparty/date"]
	path = thirdparty/date
	url = https://github.com/HowardHinnant/date.git
[submodule "thirdparty/plusaes"]
	path = thirdparty/plusaes
	url = https://github.com/kkAyataka/plusaes.git
[submodule "thirdparty/cpp-base64"]
	path = thirdparty/cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
[submodule "thirdparty/captcha"]
	path = thirdparty/captcha
	url = https://github.com/demon36/captcha.git
[submodule "thirdparty/pugixml"]
	path = thirdparty/pugixml
	url = https://github.com/zeux/pugixml.git
